/*div.rmdnote, div.rmdtip, div.rmdwarning {
  padding: 1em 1em 1em 4em;
  padding-left: 100px;
  margin: 1em 0;
  margin-bottom: 10px;
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 15px 1.5em;
  background-size: 50px;
  font-size: 0.85em;
  letter-spacing: 1pt;
  min-height: 120px;
  max-width: 100%;
  border-width: 10px 0px 0px 0px;
}
*/

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}

/* Codigos extra para bs4_book */

pre {
  position: relative;
  overflow: auto;
  border: 1px solid #fff;
  padding: 0.5rem;
  margin: 0 -0.5rem 1rem -0.5rem;
  background-image: #ffffff;
  word-break: normal;
  word-wrap: normal;
}

a {
    color: #2f4fd7;
    text-decoration: none;
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
    -ms-text-decoration: none;
    -o-text-decoration: none;
    background-color: transparent;
}

pre, code {
  border-radius: 0.2rem;
  color: #393939; /* match text colour */
}

/* https://github.com/rstudio/distill/blob/master/inst/rmarkdown/templates/distill_article/resources/a11y.theme + https://gist.github.com/hadley/f53b6e92df20994fdabe6562d284728a */
code span.ot {color:#007faa}
code span.at {color:#7d9029}
code span.ss {color:#bb6688}
code span.an {color:#545454;}
code span.fu {color:#066bf2}
code span.st {color:#22a800}
code span.cf {color:#007faa;}
code span.op {color:#8a00e6}
code span.er {color:#ff0000;}
code span.bn {color:#a1024a}
code span.al {color:#ff0000;}
code span.va {color:#000000}
code span.bu {}
code span.ex {}
code span.pp {color:#bc7a00}
code span.in {color:#545454;}
code span.vs {color:#008000}
code span.wa {color:#545454; font-style: italic}
code span.do {color:#ba2121; font-style: italic}
code span.im {}
code span.ch {color:#008000}
code span.dt {color:#aa5d00}
code span.fl {color:#ff7b00}
code span.co {color:#adadad}
code span.cv {color:#545454; font-style: italic}
code span.cn {color:#8a00e6}
code span.sc {color:#008000}
code span.dv {color:#a1024a}
code span.kw {color:#8a00e6;}


.inline-figure {
  border: solid 2px #f1f1f100;
  margin-bottom: 1rem; /* to match <p> */
}

.figure {
  border-top: 0px;
  border-bottom: 0px;
  margin:  1.5rem -0.5rem 1rem -0.5rem;
  padding: 1.5rem    0    1rem      1rem;
}

caption {
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #666;
    text-align: left;
    caption-side: top;
}

/* so that before and after aren't treated the same as the toc, because why would they? */
.book .book-summary ul.summary li.before a {
  color: #006cff;
  text-decoration: none;
  font-size: 125%;
  font-variant: small-caps;
  font-family: 'Roboto Condensed', 'Helvetica Neue', 'Open Sans', Roboto, sans-serif;
  font-weight: 500;
}

.book .book-summary ul.summary li a:hover, .book .book-summary ul.summary li.active>a {
  color: #fffff8;  /*#6197D5*/
  background-color: #006cff;
}

.book .book-summary ul.summary li.before a:hover,
.book .book-summary ul.summary li.before li.active>a {
  color: #fffff8;  /*#6197D5*/
  background-color: #006cff;
  text-decoration: none;
}

